@font-face {
  font-family: "Space Grotesk";
  src: url("../../../public/fonts/space-grotesk/space-grotesk-light.ttf");
  font-display: auto;
  font-weight: 300;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../../../public/fonts/space-grotesk/space-grotesk-regular.ttf");
  font-display: auto;
  font-weight: 400;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../../../public/fonts/space-grotesk/space-grotesk-medium.ttf");
  font-display: auto;
  font-weight: 500;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../../../public/fonts/space-grotesk/space-grotesk-semi-bold.ttf");
  font-display: auto;
  font-weight: 600;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../../../public/fonts/space-grotesk/space-grotesk-bold.ttf");
  font-display: auto;
  font-weight: 700;
}
